

.card{
   width: 400px;
   height: 1020px;
   background-color: blue;
   border-radius: 60px;
}
.photo {
   height: 40%;
   padding: 40px;
   # padding - это внутренний отступ
   # Для внешних отступов используется margin
}
.info {
   padding: 40px;
   height: 10000px;
}
img {
   position: relative;
   right:9%;
   border-radius: 20px;
}
h1 {
   color: white;
   padding: 5px;

}
p {
  color: yellow;
  padding: 5px;
  height: 225px;
}
h2 {
   color: yellow;
   font-size: 20px
   padding: 5px;

p1 {
  color: white;
   font-size: 20px;
    padding: 5px;
}
