
.card {
    border: 1px solid #ccc; /* Рамка вокруг карточки */
    border-radius: 8px; /* Закругленные углы */
    overflow: hidden; /* Скрыть содержимое, выходящее за рамки карточки */
    transition: transform 0.3s; /* Плавный переход для трансформации */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для карточки */
    max-width: 300px; /* Максимальная ширина карточки */
    margin: 20px; /* Отступы вокруг карточки */
    background-color: blue;
}

/* Стили для фото */
.photo img {
    width: 100%; /* Ширина изображения 100% от родительского элемента */
    height: auto; /* Высота автоматически */
}

/* Эффект при наведении на карточку */
.card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Увеличение тени при наведении */
}

/* Стили для информации */
.info {
    padding: 16px; /* Отступы внутри карточки */
    background-color: blue; /* Цвет фона для информации */
}

/* Заголовки */
h1 {
    font-size: 24px; /* Размер шрифта для заголовка */
    margin: 0; /* Убираем отступы */
    color: white;
}

h2 {
    font-size: 18px; /* Размер шрифта для подзаголовка */
    color: lightgreen; /* Цвет текста для подзаголовка */
    margin: 10px 0 0; /* Отступы для подзаголовка */
}

/* Параграф */
p {
    color: yellow;/* Цвет текста абзаца */
    line-height: 1.5; /* Межстрочный интервал */
}
